<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="images/favicon1.jpg">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <title>Lifi Technology</title>
</head>
<style>
    * {
        background: #2c2c2b;
    }

    *::before {
        content: '';
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgb(238, 237, 157), rgb(241, 137, 241));
        clip-path: circle(30% at right 50%);
    }

    *::after {
        content: '';
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#98c1e4, #ca1b58);
        clip-path: circle(20% at 10% 10%);
    }

    .img {
        position: absolute;
        top: 5%;
        left: 28%;
        height: 50%;
        width: 45%;
    }

    .p1 {
        font-family: sans-serif;
        font-size: 20px;
        font-style:normal;
        color: ivory;
        position: absolute;
        top: 56%;
        left: 6.5%;


    }

    .pp {
        opacity: 1;
        transition: inherit;
        user-select: none; /* supported by Chrome and Opera */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none;
        
    }
    .btn-style {
        position: absolute;
        color: black;
        left: 5%;
        top: 5%;
        border: 5px;
        background-color: rgb(189, 189, 82);
        margin: 5px;
        padding: 15px;
        border-radius:10px;
    }
</style>

<body>
    <a  class="btn-style" href="../Blog_home">Back</a>
    <img class="img" src="images/lifi.png" alt="">
    <p class="pp disabled">
        Blog
        Li-Fi Technogy
        April 03, 2021
        Li-Fi (also written as LiFi) is a wireless communication technology which utilizes light to transmit data and
        position between devices.
        Better Feature For Us!!
        Nowadays, the most Important thing is this running World is INTERNET & DATA. In Today’s Digital Society we use
        the technology which is used to send and receive the data wirelessly. We use the
        internet to do every small thing in our day-to-day life. No one from us uses the hardware to transfer the data,
        I w
        remember when I used my pen drie(PD) or CD at the last time to transfer the things. Now,we’ll see the Great
        Technology introduced by Harald aas during 2011.
        At present,for the time being : :
        In the Present situation we use Wi-Fi as a wireless networking technology that allows devices such as computers
        (laptops and desktops), mobile devices (smartphones and wearables), and other equipment (printers and video
        cameras) to
        interface with the Internet. And in Wi-Fi Internet connectivity occurs through a wireless router. Where data Is
        being transmitted by “Radio waves”.
        On the other hand We all know that the Environment is getting harmed by the
        intensive Radio Waves Government to India is giving knowledge about that daily, from the medium of Movies(Robot
        2.0), environment campines, etc…
        To avoid this and to make world more faster the new technology has been introduced
        i.e. “Li-Fi”
        Li-Fi
        Li-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        eachLi-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        eachLi-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        eachLi-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        eachLi-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        eachLi-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        eachLi-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        each
        other.I w
        remember when I used my pen drie(PD) or CD at the last time to transfer the things. Now,we’ll see the Great
        Technology introduced by Harald aas during 2011.
        At present,for the time being : :
        In the Present situation we use Wi-Fi as a wireless networking technology that allows devices such as computers
        (laptops and desktops), mobile devices (smartphones and wearables), and other equipment (printers and video
        cameras) to
        interface with the Internet. And in Wi-Fi Internet connectivity occurs through a wireless router. Where data Is
        being transmitted by “Radio waves”.
        On the other hand We all know that the Environment is getting harmed by the
        intensive Radio Waves Government to India is giving knowledge about that daily, from the medium of Movies(Robot
        2.0), environment campines, etc…
        To avoid this and to make world more faster the new technology has been introduced
        i.e. “Li-Fi”
        Li-Fi
        Li-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        each
        other.I w
        remember when I used my pen drie(PD) or CD at the last time to transfer the things. Now,we’ll see the Great
        Technology introduced by Harald aas during 2011.
        At present,for the time being : :
        In the Present situation we use Wi-Fi as a wireless networking technology that allows devices such as computers
        (laptops and desktops), mobile devices (smartphones and wearables), and other equipment (printers and video
        cameras) to
        interface with the Internet. And in Wi-Fi Internet connectivity occurs through a wireless router. Where data Is
        being transmitted by “Radio waves”.
        On the other hand We all know that the Environment is getting harmed by the
        intensive Radio Waves Government to India is giving knowledge about that daily, from the medium of Movies(Robot
        2.0), environment campines, etc…
        To avoid this and to make world more faster the new technology has been introduced
        i.e. “Li-Fi”
        Li-Fi
        Li-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        each
        other.I w
        remember when I used my pen drie(PD) or CD at the last time to transfer the things. Now,we’ll see the Great
        Technology introduced by Harald aas during 2011.
        At present,for the time being : :
        In the Present situation we use Wi-Fi as a wireless networking technology that allows devices such as computers
        (laptops and desktops), mobile devices (smartphones and wearables), and other equipment (printers and video
        cameras) to
        interface with the Internet. And in Wi-Fi Internet connectivity occurs through a wireless router. Where data Is
        being transmitted by “Radio waves”.
        On the other hand We all know that the Environment is getting harmed by the
        intensive Radio Waves Government to India is giving knowledge about that daily, from the medium of Movies(Robot
        2.0), environment campines, etc…
        To avoid this and to make world more faster the new technology has been introduced
        i.e. “Li-Fi”
        Li-Fi
        Li-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        each
        other.I w
        remember when I used my pen drie(PD) or CD at the last time to transfer the things. Now,we’ll see the Great
        Technology introduced by Harald aas during 2011.
        At present,for the time being : :
        In the Present situation we use Wi-Fi as a wireless networking technology that allows devices such as computers
        (laptops and desktops), mobile devices (smartphones and wearables), and other equipment (printers and video
        cameras) to
        interface with the Internet. And in Wi-Fi Internet connectivity occurs through a wireless router. Where data Is
        being transmitted by “Radio waves”.
        On the other hand We all know that the Environment is getting harmed by the
        intensive Radio Waves Government to India is giving knowledge about that daily, from the medium of Movies(Robot
        2.0), environment campines, etc…
        To avoid this and to make world more faster the new technology has been introduced
        i.e. “Li-Fi”
        Li-Fi
        Li-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        each
        other.I w
        remember when I used my pen drie(PD) or CD at the last time to transfer the things. Now,we’ll see the Great
        Technology introduced by Harald aas during 2011.
        At present,for the time being : :
        In the Present situation we use Wi-Fi as a wireless networking technology that allows devices such as computers
        (laptops and desktops), mobile devices (smartphones and wearables), and other equipment (printers and video
        cameras) to
        interface with the Internet. And in Wi-Fi Internet connectivity occurs through a wireless router. Where data Is
        being transmitted by “Radio waves”.
        On the other hand We all know that the Environment is getting harmed by the
        intensive Radio Waves Government to India is giving knowledge about that daily, from the medium of Movies(Robot
        2.0), environment campines, etc…
        To avoid this and to make world more faster the new technology has been introduced
        i.e. “Li-Fi”
        Li-Fi
        Li-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        each
        other.I w
        remember when I used my pen drie(PD) or CD at the last time to transfer the things. Now,we’ll see the Great
        Technology introduced by Harald aas during 2011.
        At present,for the time being : :
        In the Present situation we use Wi-Fi as a wireless networking technology that allows devices such as computers
        (laptops and desktops), mobile devices (smartphones and wearables), and other equipment (printers and video
        cameras) to
        interface with the Internet. And in Wi-Fi Internet connectivity occurs through a wireless router. Where data Is
        being transmitted by “Radio waves”.
        On the other hand We all know that the Environment is getting harmed by the
        intensive Radio Waves Government to India is giving knowledge about that daily, from the medium of Movies(Robot
        2.0), environment campines, etc…
        To avoid this and to make world more faster the new technology has been introduced
        i.e. “Li-Fi”
        Li-Fi
        Li-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        each
        other.I w
        remember when I used my pen drie(PD) or CD at the last time to transfer the things. Now,we’ll see the Great
        Technology introduced by Harald aas during 2011.
        At present,for the time being : :
        In the Present situation we use Wi-Fi as a wireless networking technology that allows devices such as computers
        (laptops and desktops), mobile devices (smartphones and wearables), and other equipment (printers and video
        cameras) to
        interface with the Internet. And in Wi-Fi Internet connectivity occurs through a wireless router. Where data Is
        being transmitted by “Radio waves”.
        On the other hand We all know that the Environment is getting harmed by the
        intensive Radio Waves Government to India is giving knowledge about that daily, from the medium of Movies(Robot
        2.0), environment campines, etc…
        To avoid this and to make world more faster the new technology has been introduced
        i.e. “Li-Fi”
        Li-Fi
        Li-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        each
        other.I w
        remember when I used my pen drie(PD) or CD at the last time to transfer the things. Now,we’ll see the Great
        Technology introduced by Harald aas during 2011.
        At present,for the time being : :
        In the Present situation we use Wi-Fi as a wireless networking technology that allows devices such as computers
        (laptops and desktops), mobile devices (smartphones and wearables), and other equipment (printers and video
        cameras) to
        interface with the Internet. And in Wi-Fi Internet connectivity occurs through a wireless router. Where data Is
        being transmitted by “Radio waves”.
        On the other hand We all know that the Environment is getting harmed by the
        intensive Radio Waves Government to India is giving knowledge about that daily, from the medium of Movies(Robot
        2.0), environment campines, etc…
        To avoid this and to make world more faster the new technology has been introduced
        i.e. “Li-Fi”
        Li-Fi
        Li-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
        technology. In today’s World we like everything in the form of multitasking. So why should light be single
        tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source. So
        the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.
        FACTS : :
        At the starting of this technical world there was a device called Bluetooth which was the very first device used
        to transfer the data from one device to another. We use that technology so many days for data transferring. I
        remember when I was using this bluetooth for the transmission of data it would take 2 to 3 hr to transfer one
        movie of some files of about 700 to 10wrrfw00 mb. The connection was also weak and was getting disconnected many
        times during transmission and it was tferfgaking too much battery and
        also the main thing devices which arerrafae having a role in the process of transmission need to be close to
        each
        other.
        Now also we use bluetooth but only to connect the
        Audio(headphone,earphone,etc..) not to transfer the data.but, it was very useful at that time span. Now it will
        not work…!
        After that the new technology came under use was Wi-Fi the wireless radio wave communication.which we are using
        today in our day-to-day life. When it came to know there is a technology named wi-fi which is faster than
        bluetooth the whole world starteeerafjgfjwagjkwghd wjhdbgwjhdgjbfechcheabceakhcb ehgeuk heukrfh ejkr
        fejkfheag,ehm, eafhgvjhmeaf bvhefbcvheafbhvbeasjvbaesfvb hbvsda bvsdaf vd
        using that very fast. Because that was the need of the society at the starting.but, there were some problems
        that i also faced which were the (1)costing of Wi-Fi. To connect to the Wi-Fi at our word place we need to Buy
        the Router and the lan cable from the Wi-Fi connection center. Which is 4 to 5k and the Wi-Fi is a prepaid
        service
        based system in the limited time span. WI-Fi work on the principle of Radio Waves So it can cross the wall’s
        because of this our network was not safe any buddy was able to connect that connection for free by hacking the
        password. The speed is also slow for the present period. As we all are coming in online mode for everything and
        in this
        Covid-19 period almost everything was started online( On one call ).

        This Radio wave environment is also getting harm and the Animals also by use of both Wi-fi or CD drive. By the
        radiation of that radio waves everyone is having something of a problem.
        And the common method is by using The PD pen drives. An external hardware device is used to save and transfer
        the data but it has a limited space like 4gb, 8gb,16gb, etc...now we will see why li-Fi is better…?
        Why is Li-Fi better ?

        As we have an overlook on all the types of transmitting methods i feel like the Li-Fi is much better from all of
        those because it has the speed which is 10 times more than Wi-Fi. It does not need any external device like
        Rouyer and all..it is limited to the area like the area which the LED light covers only in that area the
        connection will be supplied not like an Wi-Fi. Li-Fi,the communications cannot penetrate through walls and
        doors. And Also we would think like if we want to work at night then we need to keep light on? But, the answer
        is because we can manage the brightness of the LED
        light at very low intensity and we can use Li-Fi at very high speed. The Li-Fi market was projected to have a
        compound annual growth rate of 82% from 2013 to 2018 and to be worth over $6 billion per year by 2018. However,
        the market has not developed as such and Li-Fi remains with a niche market, mainly for technology evaluation.
        Li-Fi has the advantage of being useful in electromagnetic sensitive areas
        such as in aircraft cabins, hospitals and nuclear power plants without causing electromagnetic interference.
        Both Wi-Fi and Li-Fi transmit data over the electromagnetic spectrum, but whereas Wi-Fi utilizes radio
        waves, Li-Fi uses visible, ultraviolet, and infrared light. While the US Federal
        Communications Commission has warned of a potential spectrum crisis because Wi-Fi is close to full capacity,
        Li-Fi has almost no
        limitations on capacity. The visible light spectrum is 10,000 times larger than the entire radio frequency
        spectrum. Researchers have reached data rates of over 224 Gbit/s,
        which was much faster than typical fast broadband in 2013. Li-Fi is expected to be ten times cheaper than
        Wi-Fi.[7] Short range, low reliability and high installation costs are the potential downsides.
        Working:
        It works similar to,light emitting Process we see any LED light source, if we provide a constant current to the
        source it provides you the constant illumination or brightness which is digital 1. So as we change the current
        that is flowing through this LED bulb the illumination or the brightness of the bulb will be minimum which is
        digital 0.
        So in this way by flickering the LED light source very rapidly in the form of 0’s and 1’s we can transmit the
        data and this flickering is happening at million times we cannot see it by our naked eyes. This principle is
        used to transmit the data wirelessly using this LI-Fi technology.
        Now we will see the schematic of a Li-Fi transmitter and the receiver system. So as the data is coming from the
        web server or the internet, first it will go to the modem it will provide it necessary modulation to the
        incoming data stream. Then this data is fed to the LDE driver which changes the driving current for this LED
        according to
        the incoming streaming data. At the receiver end the optically receiving data is first converted into the
        electrical signal using the photo receiver or photodiode and then after signal conditioning the data is fed to
        the computer or laptop. based system in the limited time span. WI-Fi work on the principle of Radio Waves So it
        can cross the wall’s
        because of this our network was not safe any buddy was able to connect that connection for free by hacking the
        password. The speed is also slow for the present period. As we all are coming in online mode for everything and
        in this
        Covid-19 period almost everything was started online( On one call ).

        This Radio wave environment is also getting harm and the Animals also by use of both Wi-fi or CD drive. By the
        radiation of that radio waves everyone is having something of a problem.
        And the common method is by using The PD pen drives. An external hardware device is used to save and transfer
        the data but it has a limited space like 4gb, 8gb,16gb, etc...now we will see why li-Fi is better…?
        Why is Li-Fi better ?

        As we have an overlook on all the types of transmitting methods i feel like the Li-Fi is much better from all of
        those because it has the speed which is 10 times more than Wi-Fi. It does not need any external device like
        Rouyer and all..it is limited to the area like the area which the LED light covers only in that area the
        connection will be supplied not like an Wi-Fi. Li-Fi,the communications cannot penetrate through walls and
        doors. And Also we would think like if we want to work at night then we need to keep light on? But, the answer
        is because we can manage the brightness of the LED
        light at very low intensity and we can use Li-Fi at very high speed. The Li-Fi market was projected to have a
        compound annual growth rate of 82% from 2013 to 2018 and to be worth over $6 billion per year by 2018. However,
        the market has not developed as such and Li-Fi remains with a niche market, mainly for technology evaluation.
        Li-Fi has the advantage of being useful in electromagnetic sensitive areas
        such as in aircraft cabins, hospitals and nuclear power plants without causing electromagnetic interference.
        Both Wi-Fi and Li-Fi transmit data over the electromagnetic spectrum, but whereas Wi-Fi utilizes radio
        waves, Li-Fi uses visible, ultraviolet, and infrared light. While the US Federal
        Communications Commission has warned of a potential spectrum crisis because Wi-Fi is close to full capacity,
        Li-Fi has almost no
        limitations on capacity. The visible light spectrum is 10,000 times larger than the entire radio frequency
        spectrum. Researchers have reached data rates of over 224 Gbit/s,
        which was much faster than typical fast broadband in 2013. Li-Fi is expected to be ten times cheaper than
        Wi-Fi.[7] Short range, low reliability and high installation costs are the potential downsides.
        Working:
        It works similar to,light emitting Process we see any LED light source, if we provide a constant current to the
        source it provides you the constant illumination or brightness which is digital 1. So as we change the current
        that is flowing through this LED bulb the illumination or the brightness of the bulb will be minimum which is
        digital 0.
        So in this way by flickering the LED light source very rapidly in the form of 0’s and 1’s we can transmit the
        data and this flickering is happening at million times we cannot see it by our naked eyes. This principle is
        used to transmit the data wirelessly using this LI-Fi technology.
        Now we will see the schematic of a Li-Fi transmitter and the receiver system. So as the data is coming from the
        web server or the internet, first it will go to the modem it will provide it necessary modulation to the
        incoming data stream. Then this data is fed to the LDE driver which changes the driving current for this LED
        according to
        the incoming streaming data. At the receiver end the optically receiving data is first converted into the
        electrical signal using the photo receiver or photodiode and then after signal conditioning the data is fed to
        the computer or laptop.
    </p>

    <div class="p1">
        <pre><p>
            Blog

            Li-Fi Technology
            April 03, 2021

            Li-Fi (also written as LiFi) is a wireless communication technology which utilizes light to transmit data
            and position between devices.



            Better Feature For Us!!






            Nowadays, the most Important thing is this running World is INTERNET & DATA. In Today’s Digital Society we
            use the technology which is used to send and receive the data wirelessly. We use the
            internet to do every small thing in our day-to-day life. No one from us uses the hardware to transfer the
            data, I won’t

            remember when I used my pen drive(PD) or CD at the last time to transfer the things. Now,we’ll see the Great
            Technology introduced by Harald Haas during 2011.
            At present,for the time being : :

            In the Present situation we use Wi-Fi as a wireless networking technology that allows devices such as
            computers (laptops and desktops), mobile devices (smartphones and wearables), and other equipment (printers
            and video cameras) to
            interface with the Internet. And in Wi-Fi Internet connectivity occurs through a wireless router. Where data
            Is being transmitted by “Radio waves”.








            On the other hand We all know that the Environment is getting harmed by the
            intensive Radio Waves Government to India is giving knowledge about that daily, from the medium of
            Movies(Robot 2.0), environment campines, etc…
            To avoid this and to make world more faster the new technology has been introduced
            i.e. “Li-Fi”

            Li-Fi
            Li-Fi (light fidelity) works on VLC principle in simple terms we can say that it is a light based Wi-Fi
            technology. In today’s World we like everything in the form of multitasking. So why should light be single
            tasking? In this case the Li-Fi technology transmits data in the form of visible Light using the LED source.
            So the House LED bulbs and LED lamps which are used as a light source can also be used to transmit the data.

            FACTS : :
            At the starting of this technical world there was a device called Bluetooth which was the very first device
            used to transfer the data from one device to another. We use that technology so many days for data
            transferring. I remember when I was using this bluetooth for the transmission of data it would take 2 to 3
            hr to transfer one movie of some files of about 700 to 1000 mb. The connection was also weak and was getting
            disconnected many times during transmission and it was taking too much battery and
            also the main thing devices which are having a role in the process of transmission need to be close to each
            other.
            Now also we use bluetooth but only to connect the
            Audio(headphone,earphone,etc..) not to transfer the data.but, it was very useful at that time span. Now it
            will not work…!
            After that the new technology came under use was Wi-Fi the wireless radio wave communication.which we are
            using today in our day-to-day life. When it came to know there is a technology named wi-fi which is faster
            than bluetooth the whole world started







            using that very fast. Because that was the need of the society at the starting.but, there were some problems
            that i also faced which were the (1)costing of Wi-Fi. To connect to the Wi-Fi at our word place we need to
            Buy the Router and the lan cable from the Wi-Fi connection center. Which is 4 to 5k and the Wi-Fi is a
            prepaid service
            based system in the limited time span. WI-Fi work on the principle of Radio Waves So it can cross the wall’s
            because of this our network was not safe any buddy was able to connect that connection for free by hacking
            the password. The speed is also slow for the present period. As we all are coming in online mode for
            everything and in this
            Covid-19 period almost everything was started online( On one call ).

            This Radio wave environment is also getting harm and the Animals also by use of both Wi-fi or CD drive. By
            the radiation of that radio waves everyone is having something of a problem.
            And the common method is by using The PD pen drives. An external hardware device is used to save and
            transfer the data but it has a limited space like 4gb, 8gb,16gb, etc...now we will see why li-Fi is better…?
            Why is Li-Fi better ?

            As we have an overlook on all the types of transmitting methods i feel like the Li-Fi is much better from
            all of those because it has the speed which is 10 times more than Wi-Fi. It does not need any external
            device like Rouyer and all..it is limited to the area like the area which the LED light covers only in that
            area the connection will be supplied not like an Wi-Fi. Li-Fi,the communications cannot penetrate through
            walls and doors. And Also we would think like if we want to work at night then we need to keep light on?
            But, the answer is because we can manage the brightness of the LED
            light at very low intensity and we can use Li-Fi at very high speed. The Li-Fi market was projected to have
            a compound annual growth rate of 82% from 2013 to 2018 and to be worth over $6 billion per year by 2018.
            However, the market has not developed as such and Li-Fi remains with a niche market, mainly for technology
            evaluation.








            Li-Fi has the advantage of being useful in electromagnetic sensitive areas
            such as in aircraft cabins, hospitals and nuclear power plants without causing electromagnetic interference.
            Both Wi-Fi and Li-Fi transmit data over the electromagnetic spectrum, but whereas Wi-Fi utilizes radio
            waves, Li-Fi uses visible, ultraviolet, and infrared light. While the US Federal
            Communications Commission has warned of a potential spectrum crisis because Wi-Fi is close to full capacity,
            Li-Fi has almost no
            limitations on capacity. The visible light spectrum is 10,000 times larger than the entire radio frequency
            spectrum. Researchers have reached data rates of over 224 Gbit/s,
            which was much faster than typical fast broadband in 2013. Li-Fi is expected to be ten times cheaper than
            Wi-Fi.[7] Short range, low reliability and high installation costs are the potential downsides.
            Working:

            It works similar to,light emitting Process we see any LED light source, if we provide a constant current to
            the source it provides you the constant illumination or brightness which is digital 1. So as we change the
            current that is flowing through this LED bulb the illumination or the brightness of the bulb will be minimum
            which is digital 0.
            So in this way by flickering the LED light source very rapidly in the form of 0’s and 1’s we can transmit
            the data and this flickering is happening at million times we cannot see it by our naked eyes. This
            principle is used to transmit the data wirelessly using this LI-Fi technology.
            Now we will see the schematic of a Li-Fi transmitter and the receiver system. So as the data is coming from
            the web server or the internet, first it will go to the modem it will provide it necessary modulation to the
            incoming data stream. Then this data is fed to the LDE driver which changes the driving current for this LED
            according to







            the incoming streaming data. At the receiver end the optically receiving data is first converted into the
            electrical signal using the photo receiver or photodiode and then after signal conditioning the data is fed
            to the computer or laptop.

        </p></pre>
    </div>
</body>

</html>