<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vipul Chaudhari(Portfolio)</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon1.jpg">


    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/Portfolio.css">

</head>
<body>
    
<!-- header section starts  -->

<header>

    <div class="user">
        <img src="images/vipul.jpg" alt="">
        <h3 class="name">Vipul Chaudhari</h3>
        <p class="post">Software Engineer</p>
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#home">me</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#education">education</a></li>
            <li><a href="#internship">Internships</a></li>
            <li><a href="#contact">contact</a></li>
        </ul>
    </nav>

</header>

<!-- header section ends -->

<div id="menu" class="fas fa-bars"></div>

<!-- home section starts  -->

<section class="home" id="home">

    <h3>HI THERE !</h3>
    <h1>I'M <span>Vipul Chaudhari</span></h1>
    <p>B.Tech IT Software Developer in Python, FullStack Developer, And Cloud Computing Operator.
Having an Integrated Knowledge with experience in developing Softwares And dynamic Web Developing.
    </p>
    <a href="#about"><button class="btn">about me <i class="fas fa-user"></i></button></a>

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

<h1 class="heading"> <span>about</span> me </h1>

<div class="row">

    <div class="info">
        <h3> <span> name : </span> Vipul Chaudhari </h3>
        <h3> <span> age : </span> 20 </h3>
        <h3> <span> qualification : </span> IT Engineer </h3>
        <h3> <span> post : </span> Web, Software developer </h3>
        <h3> <span> language : </span> english </h3>
        <a href="https://drive.google.com/file/d/1m4eVO5OkU8kBl-IExY-TQyU1ttjCFAzY/view?usp=sharing"><button class="btn"> download CV <i class="fas fa-download"></i> </button></a>
    </div>

    <div class="counter">
        <h1 class="home" style="color:var(--yellow)"> My Skills</h1>

        <div class="box">
            <img class="img" src="/images/html1.jpg" alt="">
            {{!-- <h3>HTML</h3> --}}
        </div>

        <div class="box">
            <img class="img" src="/images/CSS1.jpg" alt="">
            <h3>CSS</h3>
        </div>

        <div class="box">
            <img class="img" src="/images/php.png" alt="">
            <h3>php</h3>
        </div>

        <div class="box">
            <img class="img" src="/images/node.png" alt="">
            <h3>Node</h3>
        </div>

        <div class="box">
            <img class="img" src="/images/react.png" alt="">
            <h3>Node</h3>
        </div>

        <div class="box">
            <img class="img" src="/images/database.png" alt="">
            <h3>DBMS</h3>
        </div>

        <div class="box">
            <img class="img" src="/images/Python.png" alt="">
            <h3>Python</h3>
        </div>

        <div class="box">
            <img class="img" src="/images/java.png" alt="">
            <h3>Java</h3>
        </div>

    </div>

</div>

</section>

<!-- about section ends -->

<!-- education section starts  -->

<section class="education" id="education">

<h1 class="heading"> my <span>education</span> </h1>

<div class="box-container">

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2016</span>
        <h3>10TH (SSC) Passout</h3>
        <p>Dist.: Nashik <br> Board: Nashik board <br> Status: Passout <br> Marks: 362/500 <br> Percentage: 72.40%</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2020</span>
        <h3>FY Passout</h3>
        <p>B.Tech Information Technology <br> GH Raisoni College of Engineering & Management, Pune <br> Pass Year: 2019-20 <br> SGPA: 9.07 CGPA: 9.07</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2022</span>
        <h3>TY Passout</h3>
        <p>B.Tech Information Technology <br> GH Raisoni College of Engineering & Management, Pune <br> Pass Year: 2021-22 <br> SGPA: 9.81 CGPA: 9.44</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2019</span>
        <h3>12th (HSC) Passout</h3>
        <p>Dist.: Nashik <br> Board: Nashik board <br> Status: Passout <br> Marks: 390/650 <br> Percentage: 60%</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2021</span>
        <h3>SY Passout</h3>
        <p>B.Tech Information Technology <br> GH Raisoni College of Engineering & Management, Pune <br> Pass Year: 2020-21 <br> SGPA: 9.64 CGPA: 9.35</p>
    </div>

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <span>2023</span>
        <h3>B.Tech Pursuing</h3>
        <p>B.Tech Information Technology <br> GH Raisoni College of Engineering & Management, Pune <br> Pass Year: 2022-23 <br> SGPA: - CGPA: -</p>
    </div>

</div>

</section>

<!-- education section ends -->

<!-- portfolio section starts  -->

<section class="portfolio" id="internship">

<h1 class="heading"> my <span>Internships</span> </h1>

<div class="box-container">

    <div class="box">
        <a href="https://sliceofmumbai.com/", target="_blank"> <img src="images/slic of mumbai.gif"  alt=""> </a> 
    </div>

    <div class="box">
        <a href="https://childcareorphan.000webhostapp.com/", target="_blank"> <img src="images/Spark Foundation.gif"  alt=""> </a> 
    </div>

    <div class="box">
        <a href="/", target="_blank"> <img src="images/Lyricliuous.gif"  alt=""> </a>
    </div>

    {{!-- <div class="box">
        <img src="images/img4.png" alt="">
    </div>

    <div class="box">
        <img src="images/img5.png" alt="">
    </div>

    <div class="box">
        <img src="images/img6.png" alt="">
    </div> --}}

</div>

</section>

<!-- portfolio section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

<h1 class="heading"> <span>contact</span> me </h1>

<div class="row">

    <div class="content">

        <h3 class="title">contact info</h3>

        <div class="info">
            <h3> <i class="fas fa-envelope"></i> vipulchaudhary2005@gmail.com </h3>
            <h3> <i class="fas fa-phone"></i> +91 70667-59941 </h3>
            {{!-- <h3> <i class="fas fa-phone"></i> +91 70664-09940 </h3> --}}
            <h3> <i class="fas fa-map-marker-alt"></i> pune, india - 400104. </h3>
        </div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Social buttons -->
<div class="social">
    <a href="https://www.facebook.com/profile.php?id=100070914828365" class="fa fa-facebook"></a>
    <a href="https://twitter.com/VipulCh25989783" class="fa fa-twitter"></a>
    <a href="https://www.linkedin.com/in/vipul-chaudhari-18a58a1aa/" class="fa fa-linkedin"></a>
    <a href="https://github.com/VipulChaudhari23" class="fa fa-github"></a>
    <a href="https://instagram.com/vipul_chaudhari0091?utm_medium=copy_link" class="fa fa-instagram"></a>
</div>


    {{!-- </div>

    <form action="">

        <input type="text" placeholder="name" class="box">
        <input type="email" placeholder="email" class="box">
        <input type="text" placeholder="project" class="box">
        <textarea name="" id="" cols="30" rows="10" class="box message" placeholder="message"></textarea>
        <button type="submit" class="btn"> send <i class="fas fa-paper-plane"></i> </button>

    </form> --}}

{{!-- </div> --}}

</section>

<!-- contact section ends -->


<!-- scroll top button  -->

<a href="#home" class="top">
    <img src="images/scroll-top-img.png" alt="">
</a>















<!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- custom js file link  -->
<script src="/src/script.js"></script>


</body>
</html>