<link rel="stylesheet" href="css/style.css">
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h3 class="font-weight-bold text-uppercase mt-3 mb-4">vipul Chaudhari</h3>
        <p>Pursuing B.Tech in Information Technology from 
          G H Raisoni College Of Engineering & Management, PUNE
          (An Autonomous Institute & Affiliated to Savitribai Phule Pune University)</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Menu</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="Blog_home">Blogs</a>
          </li>
          <li>
            <a href="portfolio">Portfolio</a>
          </li>
          <li>
            <a href="#!">projects</a>
          </li>
          <li>
            <a href="contact">Contact</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

  <!-- Social buttons -->
  <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Social buttons -->
<a href="https://www.facebook.com/profile.php?id=100070914828365" class="fa fa-facebook"></a>
<a href="https://twitter.com/VipulCh25989783" class="fa fa-twitter"></a>
<a href="https://www.linkedin.com/in/vipul-chaudhari-18a58a1aa/" class="fa fa-linkedin"></a>
<a href="https://github.com/VipulChaudhari23" class="fa fa-github"></a>
<a href="https://instagram.com/vipul_chaudhari0091?utm_medium=copy_link" class="fa fa-instagram"></a>

  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="/"> Vipul Chaudhari</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->