<div class="container-fluid mt-5 service-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Services</h1>
            <p class="text-center sub-heading">Develope Your Projects With Us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Settings</h4>
                            <p>We will provide settings of all your paths, installation, compiler interface and etc.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <img src="https://i.imgur.com/v6OnUqu.png" alt="">
                            </div>
                            <h4>SSL Security</h4>
                            <p>Secure Sockets Layer (SSL) security protocol in which will provides privacy, authentication, and integrity to Internet communications.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                <img src="https://i.imgur.com/AgyneKA.png" alt="">
                            </div>
                            <h4>Hack-Free</h4>
                            <p>Will Guard you, How to Secure/Bug free You Projects.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <img src="https://i.imgur.com/VzjZw9M.png" alt="">
                            </div>
                            <h4>Databases</h4>
                            <p>You can connect Databases in php, MD, cloudservices.., will provide you proper Databases Management.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img src="https://i.imgur.com/vdH9LKi.png" alt="">
                            </div>
                            <h4>Backup's</h4>
                            <p>Proper Backup to Your Projects.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Run Time</h4>
                            <p> It's the hardware and software infrastructure that supports the running of a particular codebase in real time.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>